Commerce/HeadlessCommerceSamples/Assets/SampleCustomerCreateSearch/Workflows/Headless-Createcustomer-Commerce-E97AA135-97D9-EF11-8EEA-6045BD0A8205.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "triggerAuthenticationType": "All"
          },
          "metadata": {}
        }
      },
      "actions": {
        "GetAccessToken": {
          "type": "Http",
          "inputs": {
            "uri": "https://login.microsoftonline.com/TENANT/oauth2/token",
            "method": "POST",
            "headers": {
              "Content-Type": "application/x-www-form-urlencoded"
            },
            "body": "grant_type=client_credentials&client_id= <client_id>&client_secret=<client_secret>&resource= api://<client_id>"
          },
          "runAfter": {
            "TransformtoCommerceData": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Parse_JSON": {
          "type": "ParseJson",
          "inputs": {
            "content": "@body('GetAccessToken')",
            "schema": {
              "type": "object",
              "properties": {
                "token_type": {
                  "type": "string"
                },
                "expires_in": {
                  "type": "string"
                },
                "ext_expires_in": {
                  "type": "string"
                },
                "expires_on": {
                  "type": "string"
                },
                "not_before": {
                  "type": "string"
                },
                "resource": {
                  "type": "string"
                },
                "access_token": {
                  "type": "string"
                }
              }
            }
          },
          "runAfter": {
            "GetAccessToken": [
              "Succeeded"
            ]
          }
        },
        "ExternalCustomerData": {
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerBody()",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "email": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string"
                },
                "updated_at": {
                  "type": "string"
                },
                "first_name": {
                  "type": "string"
                },
                "last_name": {
                  "type": "string"
                },
                "orders_count": {
                  "type": "integer"
                },
                "state": {
                  "type": "string"
                },
                "total_spent": {
                  "type": "string"
                },
                "last_order_id": {},
                "note": {
                  "type": "string"
                },
                "verified_email": {
                  "type": "boolean"
                },
                "multipass_identifier": {},
                "tax_exempt": {
                  "type": "boolean"
                },
                "tags": {
                  "type": "string"
                },
                "last_order_name": {},
                "currency": {
                  "type": "string"
                },
                "phone": {
                  "type": "string"
                },
                "addresses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "customer_id": {
                        "type": "integer"
                      },
                      "first_name": {
                        "type": "string"
                      },
                      "last_name": {
                        "type": "string"
                      },
                      "company": {
                        "type": "string"
                      },
                      "address1": {
                        "type": "string"
                      },
                      "address2": {
                        "type": "string"
                      },
                      "city": {
                        "type": "string"
                      },
                      "country": {
                        "type": "string"
                      },
                      "zip": {
                        "type": "string"
                      },
                      "phone": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "country_code": {
                        "type": "string"
                      },
                      "country_name": {
                        "type": "string"
                      },
                      "default": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "id",
                      "customer_id",
                      "first_name",
                      "last_name",
                      "company",
                      "address1",
                      "address2",
                      "city",
                      "province",
                      "country",
                      "zip",
                      "phone",
                      "name",
                      "country_code",
                      "country_name",
                      "default"
                    ]
                  }
                },
                "tax_exemptions": {
                  "type": "array"
                },
                "email_marketing_consent": {
                  "type": "object",
                  "properties": {
                    "state": {
                      "type": "string"
                    },
                    "opt_in_level": {
                      "type": "string"
                    },
                    "consent_updated_at": {}
                  }
                },
                "sms_marketing_consent": {
                  "type": "object",
                  "properties": {
                    "state": {
                      "type": "string"
                    },
                    "opt_in_level": {
                      "type": "string"
                    },
                    "consent_updated_at": {},
                    "consent_collected_from": {
                      "type": "string"
                    }
                  }
                },
                "admin_graphql_api_id": {
                  "type": "string"
                },
                "default_address": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "customer_id": {
                      "type": "integer"
                    },
                    "first_name": {
                      "type": "string"
                    },
                    "last_name": {
                      "type": "string"
                    },
                    "company": {
                      "type": "string"
                    },
                    "address1": {
                      "type": "string"
                    },
                    "address2": {
                      "type": "string"
                    },
                    "city": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    },
                    "zip": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "country_code": {
                      "type": "string"
                    },
                    "country_name": {
                      "type": "string"
                    },
                    "default": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {}
        },
        "Compose": {
          "type": "Compose",
          "inputs": "Firstname = @{body('ExternalCustomerData')?['first_name']}",
          "runAfter": {
            "ExternalCustomerData": [
              "Succeeded"
            ]
          }
        },
        "Search_Customer": {
          "type": "Http",
          "inputs": {
            "uri": "https://SearchPowerAutomateFlow/azure.com",
            "method": "POST",
            "body": {
              "Email": "@body('ExternalCustomerData')?['email']"
            }
          },
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "CustomerId_from_Email": {
          "type": "ParseJson",
          "inputs": {
            "content": "@body('Search_Customer')",
            "schema": {
              "type": "object",
              "properties": {
                "AccountNumber": {
                  "type": "string"
                }
              }
            }
          },
          "runAfter": {
            "Search_Customer": [
              "Succeeded"
            ]
          }
        },
        "CustomerNotExists": {
          "type": "If",
          "expression": {
            "and": [
              {
                "equals": [
                  "@body('CustomerId_from_Email')?['AccountNumber']",
                  ""
                ]
              }
            ]
          },
          "actions": {
            "Headless_Customer_Create": {
              "type": "Http",
              "inputs": {
                "uri": "https://CSUURL/Customers",
                "method": "POST",
                "headers": {
                  "authorization": "id_token @{body('Parse_JSON')?['access_token']}",
                  "Content-Type": "application/json",
                  "oun": "052"
                },
                "body": "@outputs('TransformtoCommerceData')"
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "NewCustomer": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Headless_Customer_Create')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "@@odata.context": {
                      "type": "string"
                    },
                    "AccountNumber": {
                      "type": "string"
                    },
                    "RecordId": {
                      "type": "integer"
                    },
                    "CreatedDateTime": {
                      "type": "string"
                    },
                    "ChargeGroup": {
                      "type": "string"
                    },
                    "PriceGroup": {
                      "type": "string"
                    },
                    "IsCustomerTaxInclusive": {
                      "type": "boolean"
                    },
                    "Phone": {
                      "type": "string"
                    },
                    "PhoneRecordId": {
                      "type": "integer"
                    },
                    "PhoneExt": {
                      "type": "string"
                    },
                    "Cellphone": {
                      "type": "string"
                    },
                    "Email": {
                      "type": "string"
                    },
                    "EmailRecordId": {
                      "type": "integer"
                    },
                    "Url": {
                      "type": "string"
                    },
                    "UrlRecordId": {
                      "type": "integer"
                    },
                    "Name": {
                      "type": "string"
                    },
                    "PersonNameId": {
                      "type": "integer"
                    },
                    "FirstName": {
                      "type": "string"
                    },
                    "MiddleName": {
                      "type": "string"
                    },
                    "LastName": {
                      "type": "string"
                    },
                    "DirectoryPartyRecordId": {
                      "type": "integer"
                    },
                    "PartyNumber": {
                      "type": "string"
                    },
                    "CustomerTypeValue": {
                      "type": "integer"
                    },
                    "Language": {
                      "type": "string"
                    },
                    "CustomerGroup": {
                      "type": "string"
                    },
                    "CurrencyCode": {
                      "type": "string"
                    },
                    "CNPJCPFNumber": {
                      "type": "string"
                    },
                    "IdentificationNumber": {
                      "type": "string"
                    },
                    "InvoiceAccount": {
                      "type": "string"
                    },
                    "MandatoryCreditLimit": {
                      "type": "boolean"
                    },
                    "CreditRating": {
                      "type": "string"
                    },
                    "CreditLimit": {
                      "type": "integer"
                    },
                    "Balance": {
                      "type": "integer"
                    },
                    "Blocked": {
                      "type": "boolean"
                    },
                    "BlockedType": {
                      "type": "integer"
                    },
                    "UseOrderNumberReference": {
                      "type": "boolean"
                    },
                    "OrganizationId": {
                      "type": "string"
                    },
                    "UsePurchaseRequest": {
                      "type": "boolean"
                    },
                    "MultilineDiscountGroup": {
                      "type": "string"
                    },
                    "TotalDiscountGroup": {
                      "type": "string"
                    },
                    "LineDiscountGroup": {
                      "type": "string"
                    },
                    "TaxGroup": {
                      "type": "string"
                    },
                    "SalesTaxGroup": {
                      "type": "string"
                    },
                    "CommissionSalesGroupId": {
                      "type": "string"
                    },
                    "TaxExemptNumber": {
                      "type": "string"
                    },
                    "VatNumber": {
                      "type": "string"
                    },
                    "TaxOffice": {
                      "type": "string"
                    },
                    "NonChargeableAccount": {
                      "type": "boolean"
                    },
                    "Tag": {
                      "type": "string"
                    },
                    "ReceiptSettings": {
                      "type": "integer"
                    },
                    "ReceiptEmail": {
                      "type": "string"
                    },
                    "OptOutPersonalization": {
                      "type": "boolean"
                    },
                    "OptOutWebActivityTracking": {
                      "type": "boolean"
                    },
                    "RetailCustomerTableRecordId": {
                      "type": "integer"
                    },
                    "OfflineImage": {
                      "type": "string"
                    },
                    "IsAsyncCustomer": {
                      "type": "boolean"
                    },
                    "TitleRecordId": {
                      "type": "integer"
                    },
                    "IsFloorLimitBlocked": {
                      "type": "boolean"
                    },
                    "IsB2b": {
                      "type": "boolean"
                    },
                    "IsB2bAdmin": {
                      "type": "boolean"
                    },
                    "BusinessPartnerId": {
                      "type": "string"
                    },
                    "AllowOnAccountPayment": {
                      "type": "boolean"
                    },
                    "DefaultPaymentMethod": {
                      "type": "string"
                    },
                    "CustomerAffiliations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "RecordId": {
                            "type": "integer"
                          },
                          "RetailAffiliationId": {
                            "type": "integer"
                          },
                          "Name": {
                            "type": "string"
                          },
                          "Description": {
                            "type": "string"
                          },
                          "HideInChannels": {
                            "type": "boolean"
                          },
                          "ExtensionProperties": {
                            "type": "array"
                          }
                        },
                        "required": [
                          "RecordId",
                          "RetailAffiliationId",
                          "Name",
                          "Description",
                          "HideInChannels",
                          "ExtensionProperties"
                        ]
                      }
                    },
                    "Addresses": {
                      "type": "array"
                    },
                    "Attributes": {
                      "type": "array"
                    },
                    "Images": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Uri": {
                            "type": "string"
                          },
                          "IsDefault": {
                            "type": "boolean"
                          },
                          "IsSelfHosted": {
                            "type": "boolean"
                          },
                          "Priority": {
                            "type": "integer"
                          },
                          "IsAdditionalMedia": {
                            "type": "boolean"
                          },
                          "MediaTypeValue": {
                            "type": "integer"
                          },
                          "DisplayOrder": {
                            "type": "integer"
                          },
                          "IsApplicableForChildEntities": {
                            "type": "boolean"
                          },
                          "ExtensionProperties": {
                            "type": "array"
                          }
                        },
                        "required": [
                          "Uri",
                          "IsDefault",
                          "IsSelfHosted",
                          "Priority",
                          "IsAdditionalMedia",
                          "MediaTypeValue",
                          "DisplayOrder",
                          "IsApplicableForChildEntities",
                          "ExtensionProperties"
                        ]
                      }
                    },
                    "Contacts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AddressTypeValue": {
                            "type": "integer"
                          },
                          "RecordId": {
                            "type": "integer"
                          },
                          "PartyLocationRecordId": {
                            "type": "integer"
                          },
                          "PartyRecordId": {
                            "type": "integer"
                          },
                          "PartyNumber": {
                            "type": "string"
                          },
                          "Description": {
                            "type": "string"
                          },
                          "Value": {
                            "type": "string"
                          },
                          "ValueExtension": {
                            "type": "string"
                          },
                          "LogisticsLocationId": {
                            "type": "string"
                          },
                          "LogisticsLocationRecordId": {
                            "type": "integer"
                          },
                          "ParentLocation": {
                            "type": "integer"
                          },
                          "IsPrimary": {
                            "type": "boolean"
                          },
                          "IsMobilePhone": {
                            "type": "boolean"
                          },
                          "IsPrivate": {
                            "type": "boolean"
                          },
                          "IsOptedInMarketing": {
                            "type": "boolean"
                          },
                          "ExtensionProperties": {
                            "type": "array"
                          }
                        },
                        "required": [
                          "AddressTypeValue",
                          "RecordId",
                          "PartyLocationRecordId",
                          "PartyRecordId",
                          "PartyNumber",
                          "Description",
                          "Value",
                          "ValueExtension",
                          "LogisticsLocationId",
                          "LogisticsLocationRecordId",
                          "ParentLocation",
                          "IsPrimary",
                          "IsMobilePhone",
                          "IsPrivate",
                          "IsOptedInMarketing",
                          "ExtensionProperties"
                        ]
                      }
                    },
                    "ExtensionProperties": {
                      "type": "array"
                    }
                  }
                }
              },
              "runAfter": {
                "Headless_Customer_Create": [
                  "Succeeded"
                ]
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {
            "CustomerId_from_Email": [
              "Succeeded"
            ]
          }
        },
        "TransformtoCommerceData": {
          "type": "Compose",
          "inputs": {
            "AccountNumber": "",
            "FirstName": "@{body('ExternalCustomerData')?['first_name']}",
            "Name": " @{body('ExternalCustomerData')?['last_name']}@{body('ExternalCustomerData')?['last_name']}",
            "MiddleName": "",
            "LastName": "@{body('ExternalCustomerData')?['last_name']}",
            "CustomerTypeValue": 1,
            "Language": "en-us",
            "CustomerGroup": "3",
            "CurrencyCode": "@{body('ExternalCustomerData')?['currency']}",
            "IsAsyncCustomer": false,
            "TitleRecordId": 5637144576,
            "ReceiptEmail": "@{body('ExternalCustomerData')?['email']}",
            "Email": "@{body('ExternalCustomerData')?['email']}",
            "Addresses": [
              {
                "Name": "",
                "Id": "",
                "FullAddress": "@{body('ExternalCustomerData')?['default_address']?['address1']}",
                "Street": "@{body('ExternalCustomerData')?['default_address']?['address2']}",
                "StreetNumber": "",
                "County": "",
                "CountyName": "",
                "City": "@{body('ExternalCustomerData')?['default_address']?['city']}",
                "DistrictName": "",
                "State": "@{body('ExternalCustomerData')?['default_address']?['province_code']}",
                "StateName": "@{body('ExternalCustomerData')?['default_address']?['province']}",
                "ZipCode": "@{body('ExternalCustomerData')?['default_address']?['zip']}",
                "ThreeLetterISORegionName": "DNK",
                "ExtensionProperties": []
              }
            ],
            "ExtensionProperties": []
          },
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}